*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  --main-bg:black;
  --button-bg:crimson;
  --text-color:white;
}



main{
  background-color: var(--main-bg);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    background-color: var(--button-bg);
    color: var(--text-color);
    font-weight: 600;
    padding: 1rem 4rem;
    font-size: 3rem;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    transition: all 200ms ease-in-out  ;
  }
  button:active{
    scale: 95%;
  }

  h1{
    
  }
}


